In [1]:
import pandas as pd
dataframe = pd.read_csv('../Crash_Data/Motor_Vehicle_Collisions_-_Crashes.csv')
dataframe

C:\Users\fallo\AppData\Local\Temp\ipykernel_14780\2837217440.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv('../Crash_Data/Motor_Vehicle_Collisions_-_Crashes.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.621790,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218626,11/04/2025,19:45,BROOKLYN,11223.0,40.602020,-73.970510,"(40.60202, -73.97051)",AVENUE S,E 2 ST,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4854977,Sedan,Motorcycle,NaN,NaN,NaN
2218627,11/04/2025,17:37,MANHATTAN,10022.0,40.763416,-73.968780,"(40.763416, -73.96878)",NaN,NaN,109 E 60 ST,...,Unspecified,Unspecified,NaN,NaN,4855362,Sedan,Motorcycle,Sedan,NaN,NaN
2218628,10/27/2025,16:41,NaN,NaN,40.667915,-73.996414,"(40.667915, -73.996414)",GOWANUS EXPY (BQE),NaN,NaN,...,Unspecified,NaN,NaN,NaN,4855376,Flat Bed,Sedan,NaN,NaN,NaN
2218629,10/22/2025,20:22,QUEENS,11375.0,40.724968,-73.845505,"(40.724968, -73.845505)",108 ST,69 AVE,NaN,...,Unspecified,NaN,NaN,NaN,4855413,Sedan,NaN,NaN,NaN,NaN
2218630,11/04/2025,9:55,MANHATTAN,10036.0,40.760830,-73.998825,"(40.76083, -73.998825)",NaN,NaN,600 W 42 ST,...,Following Too Closely,NaN,NaN,NaN,4855026,Sedan,Garbage or Refuse,NaN,NaN,NaN

In [2]:
df = dataframe

In [3]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [4]:
df.info

<bound method DataFrame.info of          CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0        09/11/2021       2:39        NaN      NaN        NaN        NaN
1        03/26/2022      11:45        NaN      NaN        NaN        NaN
2        11/01/2023       1:29   BROOKLYN  11230.0  40.621790 -73.970024
3        06/29/2022       6:55        NaN      NaN        NaN        NaN
4        09/21/2022      13:21        NaN      NaN        NaN        NaN
...             ...        ...        ...      ...        ...        ...
2218626  11/04/2025      19:45   BROOKLYN  11223.0  40.602020 -73.970510
2218627  11/04/2025      17:37  MANHATTAN  10022.0  40.763416 -73.968780
2218628  10/27/2025      16:41        NaN      NaN  40.667915 -73.996414
2218629  10/22/2025      20:22     QUEENS  11375.0  40.724968 -73.845505
2218630  11/04/2025       9:55  MANHATTAN  10036.0  40.760830 -73.998825

                        LOCATION           ON STREET NAME CROSS STREET NAME  \
0                            NaN    WHITESTONE EXPRESSWAY         20 AVENUE
1                            NaN  QUEENSBORO BRIDGE UPPER               NaN
2         (40.62179, -73.970024)            OCEAN PARKWAY          AVENUE K
3                            NaN       THROGS NECK BRIDGE               NaN
4                            NaN          BROOKLYN BRIDGE               NaN
...                          ...                      ...               ...
2218626    (40.60202, -73.97051)                 AVENUE S            E 2 ST
2218627   (40.763416, -73.96878)                      NaN               NaN
2218628  (40.667915, -73.996414)       GOWANUS EXPY (BQE)               NaN
2218629  (40.724968, -73.845505)                   108 ST            69 AVE
2218630   (40.76083, -73.998825)                      NaN               NaN

           OFF STREET NAME  ...   CONTRIBUTING FACTOR VEHICLE 2  \
0                      NaN  ...                     Unspecified
1                      NaN  ...                             NaN
2                      NaN  ...                     Unspecified
3                      NaN  ...                     Unspecified
4                      NaN  ...                     Unspecified
...                    ...  ...                             ...
2218626                NaN  ...  Driver Inattention/Distraction
2218627  109       E 60 ST  ...                     Unspecified
2218628                NaN  ...                     Unspecified
2218629                NaN  ...                     Unspecified
2218630  600       W 42 ST  ...           Following Too Closely

         CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                                  NaN                            NaN
1                                  NaN                            NaN
2                          Unspecified                            NaN
3                                  NaN                            NaN
4                                  NaN                            NaN
...                                ...                            ...
2218626                            NaN                            NaN
2218627                    Unspecified                            NaN
2218628                            NaN                            NaN
2218629                            NaN                            NaN
2218630                            NaN                            NaN

         CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                                  NaN       4455765
1                                  NaN       4513547
2                                  NaN       4675373
3                                  NaN       4541903
4                                  NaN       4566131
...                                ...           ...
2218626                            NaN       4854977
2218627                            NaN       4855362
2218628                            NaN       4855376
2218629                            NaN       4855413
2218630                            NaN       4855026

                         VEHICLE TYPE CODE 1  VEHICLE TYPE CODE 2  \
0                                      Sedan                Sedan
1                                      Sedan                  NaN
2                                      Moped                Sedan
3                                      Sedan        Pick-up Truck
4        Station Wagon/Sport Utility Vehicle                  NaN
...                                      ...                  ...
2218626                                Sedan           Motorcycle
2218627                                Sedan           Motorcycle
2218628                             Flat Bed                Sedan
2218629                                Sedan                  NaN
2218630                                Sedan    Garbage or Refuse

         VEHICLE TYPE CODE 3 VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                        NaN                 NaN                 NaN
1                        NaN                 NaN                 NaN
2                      Sedan                 NaN                 NaN
3                        NaN                 NaN                 NaN
4                        NaN                 NaN                 NaN
...                      ...                 ...                 ...
2218626                  NaN                 NaN                 NaN
2218627                Sedan                 NaN                 NaN
2218628                  NaN                 NaN                 NaN
2218629                  NaN                 NaN                 NaN
2218630                  NaN                 NaN                 NaN

[2218631 rows x 29 columns]>

In [5]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           679907
ZIP CODE                          680182
LATITUDE                          240341
LONGITUDE                         240341
LOCATION                          240341
ON STREET NAME                    483080
CROSS STREET NAME                 847707
OFF STREET NAME                  1827925
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7825
CONTRIBUTING FACTOR VEHICLE 2     355979
CONTRIBUTING FACTOR VEHICLE 3    2058119
CONTRIBUTING FACTOR VEHICLE 4    2181987
CONTRIBUTING FACTOR VEHICLE 5    2208595
COLLISION_ID                           0
VEHICLE TYPE CODE 1                16122
VEHICLE TYPE CODE 2               444749
VEHICLE TYPE CODE 3              2064345
VEHICLE TYPE CODE 4              2183315
VEHICLE TYPE CODE 5              2208911
dtype: int64

In [6]:
df.drop(['ZIP CODE','LATITUDE','LONGITUDE','LOCATION'], axis=1, inplace=True)

In [7]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           679907
ON STREET NAME                    483080
CROSS STREET NAME                 847707
OFF STREET NAME                  1827925
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7825
CONTRIBUTING FACTOR VEHICLE 2     355979
CONTRIBUTING FACTOR VEHICLE 3    2058119
CONTRIBUTING FACTOR VEHICLE 4    2181987
CONTRIBUTING FACTOR VEHICLE 5    2208595
COLLISION_ID                           0
VEHICLE TYPE CODE 1                16122
VEHICLE TYPE CODE 2               444749
VEHICLE TYPE CODE 3              2064345
VEHICLE TYPE CODE 4              2183315
VEHICLE TYPE CODE 5              2208911
dtype: int64

In [8]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,0.0,0,0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,OCEAN PARKWAY,AVENUE K,NaN,1.0,0.0,0,0,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,BROOKLYN BRIDGE,NaN,NaN,0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [9]:
df = df.dropna(how="all")

In [10]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,0.0,0,0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,OCEAN PARKWAY,AVENUE K,NaN,1.0,0.0,0,0,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,BROOKLYN BRIDGE,NaN,NaN,0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [11]:
df.isna().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           679907
ON STREET NAME                    483080
CROSS STREET NAME                 847707
OFF STREET NAME                  1827925
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7825
CONTRIBUTING FACTOR VEHICLE 2     355979
CONTRIBUTING FACTOR VEHICLE 3    2058119
CONTRIBUTING FACTOR VEHICLE 4    2181987
CONTRIBUTING FACTOR VEHICLE 5    2208595
COLLISION_ID                           0
VEHICLE TYPE CODE 1                16122
VEHICLE TYPE CODE 2               444749
VEHICLE TYPE CODE 3              2064345
VEHICLE TYPE CODE 4              2183315
VEHICLE TYPE CODE 5              2208911
dtype: int64

In [ ]:
df.isna().mean().sort_values(ascending=False) * 100
# seeing what % of data is missing in eatch column

VEHICLE TYPE CODE 5              99.561892
CONTRIBUTING FACTOR VEHICLE 5    99.547649
VEHICLE TYPE CODE 4              98.408208
CONTRIBUTING FACTOR VEHICLE 4    98.348351
VEHICLE TYPE CODE 3              93.045892
CONTRIBUTING FACTOR VEHICLE 3    92.765268
OFF STREET NAME                  82.389771
CROSS STREET NAME                38.208562
BOROUGH                          30.645339
ON STREET NAME                   21.773788
VEHICLE TYPE CODE 2              20.046101
CONTRIBUTING FACTOR VEHICLE 2    16.044984
VEHICLE TYPE CODE 1               0.726664
CONTRIBUTING FACTOR VEHICLE 1     0.352695
NUMBER OF PERSONS KILLED          0.001397
NUMBER OF PERSONS INJURED         0.000811
CRASH DATE                        0.000000
NUMBER OF PEDESTRIANS INJURED     0.000000
CRASH TIME                        0.000000
NUMBER OF MOTORIST KILLED         0.000000
NUMBER OF MOTORIST INJURED        0.000000
NUMBER OF PEDESTRIANS KILLED      0.000000
NUMBER OF CYCLIST INJURED         0.000000
NUMBER OF CYCLIST KILLED          0.000000
COLLISION_ID                      0.000000
dtype: float64

In [13]:
df = df.dropna(axis=1, thresh=len(df) * 0.3)
# keeps columns with at least 30% data found on google

In [14]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,09/11/2021,2:39,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,4455765,Sedan,Sedan
1,03/26/2022,11:45,NaN,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,0,1,0,Pavement Slippery,NaN,4513547,Sedan,NaN
2,11/01/2023,1:29,BROOKLYN,OCEAN PARKWAY,AVENUE K,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,4675373,Moped,Sedan
3,06/29/2022,6:55,NaN,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,4541903,Sedan,Pick-up Truck
4,09/21/2022,13:21,NaN,BROOKLYN BRIDGE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4566131,Station Wagon/Sport Utility Vehicle,NaN